*{
    box-sizing: border-box;
}
.content {
    background-image: url(../images/backround-image1.jpeg);
    width: 100%;
}
.contenteight {
    width: 100%;
    background-image: url(../images/backround-image2.jpeg);
}
@media(max-width:576px) {
.content {
    width: 100%;
}
.contentone {
    width: 100%;
}
.contenttwo {
    width: 100%;
}
.right2 input {
    width: 100%;
}
.contentthree div {
    border: 1px solid white;
    margin-bottom: 5px;
}
.contentfour {
    width: 100%;
}
.contentfive {
    width: 100%;
}
.contentseven {
    width: 100%;
}
.right3 img {
    height: 70vh;
}
.contenteight {
    width: 100%;
}
.right4 {
    gap: 10px;
}
}